  body {
    margin:0px;
    text-align: justify;
  }
  /*
  #active{
    // #은 아이디 선택자를 의미한다
    color:red;
  }
  .saw{
    // .점은 class를 의미한다.
    color:gray;
  }
  .active{
    color:red;
  }
  */
  a {
    color:none;
    text-decoration: none;
  }
  h1{
    font-size: 45px;
    text-align: center;
    border-bottom:1px solid pink;
    padding:20px;
    margin:0;
  }
  ol {
     border-right:1px solid pink;
     width:100px;
     margin:0px;
     padding:20px;
  }
  #grid{
    display:grid;
    grid-template-columns: 150px 1fr;
  }
  #article{
    padding-left:25px;
  }
  @media(max-width:800px){
    #grid{
      display:block;
    }
    ol {
       border-right:none;
       padding-left: 43px;
    }
    h1{
      border-bottom:none;
    }
    body {
      padding-right: 25px;
    }
